<div class="wrapper wrapper-padding clearfix">
    	<div class="col-1 about homepage-content">
    		<h2>About</h2>
    		<hr>
    		<p>The Google Fonts API will generate the necessary browser-specific CSS to use the fonts.</p>
    		<p> All you need to do is add the font name to your CSS styles.</p>
    	</div>
    	<div class="col-2 homepage-content">

    		<h2>Stuff i've Written</h2>
    		<hr>
            <% @posts.each do |p| %>
            <h3><%= link_to p.title, p %></h3>
            <p class="date"><%= p.created_at.strftime("%A, %b %d") %></p>
            <% end %>
    	</div>
    	<div class="col-3 homepage-content">
            <h2>Stuff i've built</h2>
            <hr>
            <% @projects.each do |p| %>
            <h3><%= link_to p.title, p %></h3>
            <p class="date"><%= p.created_at.strftime("%A, %b %d") %></p>
            <% end %>
            
    	</div>
    </div>
    