<h1 id="page-title">Stuff i've built</h1>
    <div id="posts-wrapper" class="skinny-wrapper">
    	<% @projects.each do |project| %>
        <div class="post">
            <p class="date"><%= project.created_at.strftime("%A, %B %d") %></p>
            <h2><%= link_to project.title, project %></h2>
            <hr>
        </div>
        <% end %>
        <%= will_paginate %>
    </div>