<h1 id="page-title">Stuff i've written</h1>
    <div id="posts-wrapper" class="skinny-wrapper">
    	<% @posts.each do |post| %>
        <div class="post">
            <p class="date"><%= post.created_at.strftime("%A, %B %d") %></p>
            <h2><%= link_to post.title, post %></h2>
            <hr>
        </div>
        <% end %>
        <%= will_paginate %>
    </div>